*, *::after, *::before {
    margin: 0;
    padding: 0;
}

#nav-index {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 10px;
}


.a-img {
    display: flex;
    align-items: center;
}